<div class="hero-unit contact span8">
	<%== can.view.render('views/contactView.ejs', {contact: contact, categories: categories}) %>
	<div class="row">
		<div class="buttons pull-right">
			<a href="javascript://" class="btn btn-primary save">Save</a>
			<a href="javascript://" class="btn cancel">Cancel</a>
		</div>
	</div>
</div>