<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Contacts Manager >> Part 2</title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/contacts.css">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="span12">
					<h1>Contacts Manager</h1>
				</div>
			</div>
			<div class="row">
				<div class="span3">
					<div class="well">
						<nav id="filter"></nav>
					</div>
				</div>
				<div class="span9">
					<div id="create"></div>
					<div id="contacts"></div>
				</div>
			</div>
		</div>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
		<script src="js/can.jquery.min.js"></script>
		<script src="js/can.fixture.js"></script>
		<script src="js/contacts.js"></script>	
		<script type="text/ejs" id="contactsList">
			<ul class="unstyled clearfix">
				<% list(contacts.filter(can.route.attr('category')), function(contact){ %>
					<li class="contact span8" <%= (el)-> el.data('contact', contact) %>>
						<div class="">
							<%== can.view.render('contactView', {contact: contact, categories: categories}) %>
						</div>
					</li>
				<% }) %>
			</ul>
		</script>
		<script type="text/ejs" id="contactView">
			<a href="javascript://" class="remove"><i class="icon-remove"></i></a>
			<form>
				<div class="row">
					<div class="span2">
						<img src="img/contact.png" width="100" height="100">
					</div>
					<div class="span3">
						<input type="text" name="name" placeholder="Add Name" 
							<%= !contact.attr('name') ? "class='empty'" : "value='" + contact.name + "'" %>>
						<select name="category">
							<% $.each(categories, function(i, category){ %>
								<option value="<%= category.data %>" <%= contact.category === category.data ? "selected" : "" %>>
									<%= category.name %>
								</option>
							<% }) %>
						</select>
					</div>
					<div class="span3">
						<label>Address</label>
						<input type="text" name="address" 
							<%= !contact.attr('address') ? "class='empty'" : "value='" + contact.address + "'" %>>
						<label>Phone</label>
						<input type="text" name="phone" 
							<%= !contact.attr('phone') ? "class='empty'" : "value='" + contact.phone + "'" %>>
						<label>Email</label>
						<input type="text" name="email" 
							<%= !contact.attr('email') ? "class='empty'" : "value='" + contact.email + "'" %>>
					</div>
				</div>
			</form>
		</script>
		<script type="text/ejs" id="filterView">
			<ul class="nav nav-list">
				<li class="nav-header">Categories</li>
				<li>
					<a href="javascript://" data-category="all">All (<%= contacts.count('all') %>)</a>
				</li>
				<% $.each(categories, function(i, category){ %>
					<li>
						<a href="javascript://" data-category="<%= category.data %>"><%= category.name %> (<%= contacts.count(category.data) %>)</a>
					</li>
				<% }) %>
			</ul>
		</script>
	</body>
</html>